<%- include('partials/_header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">IT Projects</h1>

      <p class="secret-text"><a href="/list_of_projects">See list of projects and do CRUD here</a></p>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/_footer') %>

